* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: turquoise;
}

.color-heared {
    color: chocolate;
}

.highlight {
    background-color: rgb(47, 8, 164);
    color: azure;
    font-size: 20pt;
}

#featured {
    border: 30px solid rgb(212, 205, 77);
    /*need to set size and style of border (solid and color. ex.)*/
    width: 200px;
    height: 200px;
}

[target="_blank"] {
    color: greenyellow;
    background-color: cadetblue;
    text-decoration: none;
    /*remove underline*/
}

/*The another file is "exercise1-gpt.html" */
/*Need to rename to style.css*/
